<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="main.css">
      <title>The46Open</title>
  </head>
  <body>
   {{> header}}
   <main class="push">
     <section class="flexy">
      <section class="cont1">
      <h1>Top Players</h1>
        {{#each data}}
          <div class="flexy">
                <span class="passed_data">{{this.first_name}} </span> &nbsp&nbsp
                <span class="passed_data">{{this.last_name}} </span>&nbsp&nbsp
                <span class="passed_data">{{this.rating}} </span>&nbsp&nbsp
              </div>
        {{/each}}
      </section>
      <section class="cont1">
      <h1>Recent Matches</h1>
        {{#each data}}
          <div class="flexy">
                <span class="passed_data">{{this.first_name}} </span> &nbsp&nbsp
                <span class="passed_data">{{this.last_name}} </span>&nbsp&nbsp
              </div>
        {{/each}}
        </section>
      </section>
    </main>
    <footer></footer>
    {{> modalscript}}
    <script type="text/javascript" src="api.js"></script>
  </body>
</html>
